config
*.parquet
*.csv
/data/*
*.vec
*/fasttext/*
*/spark-warehouse/*
.DS_Store
*.png
*/.ipynb_checkpoints/*
*.pyc

predictions/plot/*

*/__pycache__/*
*.zip

.ipynb_checkpoints/*

wordembedding/fasttext/*
