absl-py==0.6.1
aiodns==1.1.1
aiohttp==3.3.2
alabaster==0.7.10
anaconda-client==1.6.5
anaconda-navigator==1.6.9
anaconda-project==0.8.0
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
argcomplete==1.8.2
asn1crypto==0.22.0
astor==0.7.1
astroid==1.5.3
astropy==2.0.2
async-timeout==3.0.0
attrs==19.1.0
autobahn==17.10.1
Automat==0.6.0
autopep8==1.4.2
awscli==1.14.32
Babel==2.5.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
beautysh==4.1
bitarray==0.8.1
bkcharts==0.2
black==19.3b0
blaze==0.11.3
bleach==2.0.0
bokeh==0.12.10
boto==2.48.0
boto3==1.9.82
botocore==1.12.151
Bottleneck==1.2.1
branca==0.3.0
bz2file==0.98
cachetools==3.0.0
cchardet==2.1.1
ccxt==1.18.575
certifi==2018.11.29
cffi==1.10.0
chardet==3.0.4
click==6.7
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.4.0
clyent==1.2.2
colorama==0.3.7
community==1.0.0b1
conda==4.4.7
conda-build==3.0.27
conda-verify==2.0.0
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.0.3
cycler==0.10.0
cymem==2.0.2
Cython==0.29.7
cytoolz==0.9.0.1
dask==1.0.0
data==0.4
datashape==0.5.4
datefinder-lexpredict==0.6.2
dateparser==0.7.0
deap==1.2.2
decorator==4.1.2
dill==0.2.8.2
distributed==1.19.1
docutils==0.14
docx2txt==0.6
EbookLib==0.15
eli5==0.8.1
entrypoints==0.2.3
et-xmlfile==1.0.1
ez-setup==0.9
fastcache==1.0.2
filelock==2.0.12
findspark==1.3.0
Fiona==1.8.4
Flask==0.12.2
Flask-Cors==3.0.3
folium==0.6.0
funcsigs==1.0.2
funcy==1.11
future==0.16.0
gast==0.2.0
gensim==3.4.0
geographiclib==1.49
geopandas==0.4.0
geopy==1.18.0
gevent==1.2.2
glob2==0.5
gmpy2==2.0.8
google-api-python-client==1.7.4
google-auth==1.6.1
google-auth-httplib2==0.0.3
graphviz==0.10.1
greenlet==0.4.12
grpcio==1.16.1
h5py==2.7.0
heapdict==1.0.0
html5lib==0.999999999
httplib2==0.12.0
hyperlink==17.3.1
idna==2.6
idna-ssl==1.1.0
imageio==2.2.0
imagesize==0.7.1
incremental==17.5.0
inflection==0.3.1
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.13.1
jellyfish==0.5.6
Jinja2==2.9.6
jmespath==0.9.3
joblib==0.13.1
jrnl==1.9.8
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==13.2.0
lazy-object-proxy==1.3.1
lexnlp==0.2.5.post1
lightgbm==2.1.2
llvmlite==0.20.0
locket==0.2.0
lxml==4.1.0
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
mistune==0.7.4
mkl-fft==1.0.6
mkl-random==1.0.1
more-itertools==3.2.0
mpmath==0.19
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multidict==4.3.1
multipledispatch==0.4.9
munch==2.3.2
murmurhash==1.0.1
music21==5.3.0
navigator-updater==0.1.0
nb-black==1.0.4
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nltk==3.2.4
nose==1.3.7
notebook==5.7.2
num2words==0.5.5
numba==0.35.0+6.gaa35fb1
numexpr==2.6.2
numpy==1.15.4
numpydoc==0.7.0
odo==0.5.1
olefile==0.44
openpyxl==2.4.8
packaging==16.8
pandas==0.23.4
pandas-datareader==0.6.0
pandocfilters==1.4.2
parsedatetime==2.4
parso==0.3.1
partd==0.3.8
path.py==10.3.1
pathlib2==2.3.0
patsy==0.4.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
pkginfo==1.4.1
plac==0.9.6
plotly==2.2.2
pluggy==0.8.0
ply==3.10
pocketsphinx==0.1.3
pprint==0.1
preshed==2.0.1
prometheus-client==0.4.2
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.4.0
ptyprocess==0.5.2
py==1.4.34
py4j==0.10.7
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycares==2.3.0
pycodestyle==2.3.1
pycosat==0.6.3
pycountry==18.5.26
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
pydocstyle==3.0.0
pyflakes==1.6.0
Pygments==2.2.0
PyJWT==1.5.3
pyLDAvis==2.1.2
pylint==1.7.4
pyodbc==4.0.17
pyOpenSSL==17.2.0
pyparsing==2.2.0
PyPDF2==1.26.0
pyproj==1.9.5.1
Pyro4==4.75
PySocks==1.6.7
pyspark==2.4.3
pytest==3.2.1
python-binance==0.6.2
python-dateutil==2.6.1
python-jsonrpc-server==0.0.2
python-language-server==0.21.2
python-louvain==0.13
python-pptx==0.6.5
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.1.2
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
Quandl==3.2.0
regex==2018.1.10
reporters-db==1.0.12.1
requests==2.21.0
requests-file==1.4.3
requests-ftp==0.3.1
rope==0.10.5
rsa==3.4.2
ruamel-yaml==0.11.14
ruamel.yaml==0.15.35
s3transfer==0.1.12
scikit-image==0.13.0
scikit-learn==0.19.1
scipy==1.0.0
seaborn==0.9.0
selenium==3.14.1
Send2Trash==1.5.0
serpent==1.28
service-identity==17.0.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
smart-open==1.8.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
spacy==2.0.16
sparse-dot-topn==0.2
SpeechRecognition==3.6.3
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.1.13
statsmodels==0.8.0
stopit==1.1.2
sympy==1.1.1
tables==3.4.2
tabulate==0.8.2
tblib==1.3.2
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
textract==1.6.1
thinc==6.12.1
toml==0.10.0
toolz==0.8.2
torch==0.4.0
torchvision==0.2.1
tornado==4.5.2
TPOT==0.9.5
tqdm==4.29.1
traitlets==4.3.2
twilio==6.10.3
Twisted==17.9.0
txaio==2.8.2
typing==3.6.2
tzlocal==1.5.1
ujson==1.35
unicodecsv==0.14.1
Unidecode==0.4.21
update-checker==0.16
uritemplate==3.0.0
urllib3==1.22
us==1.0.0
vaderSentiment==3.2.1
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.2
wordcloud==1.5.0
wrapt==1.10.11
xgboost==0.81
xlrd==1.0.0
XlsxWriter==1.0.2
xlwings==0.11.4
xlwt==1.2.0
xmltodict==0.11.0
yapf==0.24.0
yarl==1.1.0
yq==2.7.1
zict==0.1.3
zope.interface==4.4.3
